.vscode/

powerlaw_graph

# ======
bfs/bin/
bfs/build/
bfs/dataset/
bfs/lib/
*.log
*.csv
*.out

# ======
tc/build
tc/bin
tc/lib
tc/dataset/
tc/output/img
tc/*.out
tc/*.png

# =====
rt_search/
rt_search/build/
rt_search/bin/
rt_search/output/

# =====
list-intersection/
list-intersection/build
list-intersection/bin
list-intersection/output
list-intersection/dataset
list-intersection/ext/fmt

