.vscode/

powerlaw_graph

# ======
bfs/bin/
bfs/build/
bfs/dataset/
bfs/lib/
*.log
*.csv
*.out

# ======
tc/build
tc/bin
tc/lib
tc/dataset/
tc/output/img
tc/*.out
tc/*.png

# =====
rt_search/build/
rt_search/bin/

# =====
set_intersection/build
set_intersection/output
set_intersection/dataset
set_intersection/ext/

